:root {
    /* ------------------- */
    /* Colors              */
    /* ------------------- */
    --clr-background: hsl(222, 12%, 84%);

    /* ------------------- */
    /* Sizing              */
    /* ------------------- */
    --radius:0.7rem;
    --shadow:0px 19px 61px -25px rgba(0,0,0,0.75);
}

