@import url(reset.css);
@import url(base.css);
@import url(utilities.css);

body {
    background-color: var(--clr-background);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    font-family: monospace;
}